@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
:root{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    --text-primary:#b6b6b6;
    --text-secondary:#ececec;
    --bg-primary:#23232e;
    --bg-secondary:#141418;
    --transition-speed:600ms;
}
.canvas{
    border-radius: 10rem;
}
.container{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}